body{
    height: 1700px;
    width: 1350px;
    background-color: rgb(230, 230, 230);
}

header{
    background-color:rgb(25, 26, 29);
    width: 1380px;
    height: 159px;
    margin-left: -0.5em;
    margin-top: -0.5em;
    position: fixed;
}

#logo{
    padding-left: 5em;
    padding-top: 0.8em;
}

#caixa_pesquisa{
    height: 52px;
    width: 450px;
    padding-left: 9px;
    font-size: 18px;
    font-family: 'Roboto Slab', serif; 
    border-radius: 6px;
    border: cadetblue 2px solid;
}

#caixa_pesquisa:focus{
    border: solid rgb(223, 67, 26) 2px;
    outline: 0;
}

form{
    margin-left: 26em;
    margin-top: -6em;
}

#simbolo_pesquisar{
    width: 50px;
    height: 50px;
    background-color: rgb(223, 67, 26);
    margin-left: 22.4em;
    border-radius: 3px;
}

#botao_busca{
    width: 58px;
    height: 58px;
    background-color: rgb(223, 67, 26);
    margin-left: 61.75em;
    margin-top: -4.35em;
    border-radius: 3px;
    border: none;
    position: fixed;
}

#simbolo_pesquisa{
    width: 45px;
    height: 45px;
}

#simbolo_pesquisa:hover{
    cursor: pointer;
}

#simbolo_suporte{
    width: 38px;
    height: 38px;
    margin-top: -2.5em;
    margin-left: -2em;
    position: fixed;
}

#botao_suporte{
    width: 75px;
    height: 63px;
    background-color: rgb(223, 67, 26);
    margin-left: 72em;
    margin-top: -4.6em;
    border-radius: 3px;
    border: none;
    position: fixed;
}

#nome_suporte{
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    text-align: center;
    margin-top: 0.45em;
    margin-left: -2.5em;
    position: fixed;
}

#botao_suporte:hover{
    cursor: pointer;
}

#simbolo_carrinho{
    width: 38px;
    height: 38px;
    margin-top: -0.9em;
    margin-left: -2.3em;
}

#botao_carrinho{
    width: 78px;
    height: 63px;
    background-color: rgb(223, 67, 26);
    margin-left: 82em;
    margin-top: -4.6em;
    border-radius: 3px;
    border: none;
    position: fixed;
}

#nome_carrinho{
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    text-align: center;
    margin-left: -2.82em;
    margin-top: -1.2em;
    position: fixed;
}

#botao_carrinho:hover{
    cursor: pointer;
}

#saudacao{
    margin-left: 70em;
    margin-bottom: 10em;
    color: white;
}

#nome_sair{
    margin-right: 5em;
    margin-top: -2.5em;
    color: white;
    font-family: 'Roboto Slab', serif;
    float: right;
}

#botao_logout{
    width: 78px;
    height: 63px;
    background-color: rgb(223, 67, 26);
    margin-left: 90em;
    margin-top: -4.6em;
    border-radius: 3px;
    border: none;
    position: fixed;
}

#simbolo_logout{
    width: 40px;
    height: 40px;
    margin-right: 1.5em;
    margin-top: -4.7em;
    float: right;
}

#nome_sair{
    margin-right: 5.1em;
    margin-top: -2.2em;
    float: right;
    font-size: 14px;
}

#mais_alugados{
    margin-top: 7em;
    margin-left: 22em;
    font-size: 25px;
    text-decoration: underline;
    color: rgb(223, 67, 26);
    position: absolute;
    z-index: -1;
    font-family: 'Roboto Slab', serif;
}

.jogos{
    float: left;
    margin-top: 16em;
    margin-left: 3.2em;
    background-color: rgb(190, 190, 190);
    width: 200px;
    height: 230px;
}

.jogos:hover{
    background-color: rgb(255, 174, 153);
    cursor: pointer;
}

#jogos2{
    margin-top: 12em;
}

.descricoes_jogos{
    text-align: center;
    font-weight: bolder;
    font-family: 'Roboto Slab', serif;
    width: 250px;
    margin-left: -1.5em;
}

.plataforma{
    color: rgb(56, 71, 123);
}

.nome_jogo{
    color: rgb(223, 67, 26);
}

.prazo_aluguel{
    color: rgb(66, 66, 66);
}

.precos{
    background-color: rgb(170, 170, 170);
    color: black;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
}

.Padding_Imagens{
    width: 163.5px;
    height: 202.5px;
    margin-left: -1.4em;
    margin-top: -2px;
}

.paginas{
    margin-top: 97em;
    margin-left: 28em;
    width: 378px;
    height: 35px;
    position: absolute;
    background: rgb(210, 210, 210);
    border: 0.3px solid rgb(80, 80, 80);
}

.numeros_paginas{
    float: left;
    background-color: rgb(80, 80, 80);
    width: 31px;
    height: 29px;
    margin-top: 0.1em;
    text-align: center;
    margin-left: 8px;
    border: black 0.2px solid;
    color: white;
}

#pagina_atual{
    background-color: rgb(56, 71, 123);
}

.numeros_paginas:hover{
    background-color: rgb(223, 67, 26);
    cursor: pointer;
}

#direitos_reservados{
    margin-top: 105em;
    margin-left: 20.5em;
    position: absolute;
    font-family: 'Roboto Slab', serif;
}